## Limpieza basica de los datos

### Por:
Jose Ricardo Zapata Gonzalez

### Fecha:
2022-08-21

### Descripci√≥n:

limpieza basica:
- eliminar columnas que no se usan
- eliminar registros con valores nulos

## Importar librerias

In [2]:
import pandas as pd

## Cargar Datos

In [1]:
catalog.list()

[
    'Data_raw',
    'titanic',
    'Data_train',
    'Data_test',
    'Data_train_no_nan',
    'score_train',
    'score_test',
    'parameters',
    'params:url',
    'params:cols_to_drop',
    'params:split',
    'params:split.train_fraction',
    'params:split.random_state',
    'params:split.target_column',
    'params:drop_na_subset_cols'
]

In [3]:
data = catalog.load("Data_train")

[08/21/22 12:17:12] INFO     Loading data from 'Data_train' (CSVDataSet)...                     ]8;id=547481;file:///Users/jzapata/opt/anaconda3/envs/titanic-kedro/lib/python3.9/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=450958;file:///Users/jzapata/opt/anaconda3/envs/titanic-kedro/lib/python3.9/site-packages/kedro/io/data_catalog.py#343\343]8;;\

## Procesamiento de Datos

In [4]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,3.0,1.0,"Jermyn, Miss. Annie",female,NaN,0.0,0.0,14313,7.7500,NaN,Q,D,NaN,NaN
1,3.0,0.0,"Johansson, Mr. Nils",male,29.0,0.0,0.0,347467,7.8542,NaN,S,NaN,NaN,NaN
2,1.0,0.0,"Penasco y Castellana, Mr. Victor de Satode",male,18.0,1.0,0.0,PC 17758,108.9000,C65,C,NaN,NaN,"Madrid, Spain"
3,3.0,1.0,"Lundstrom, Mr. Thure Edvin",male,32.0,0.0,0.0,350403,7.5792,NaN,S,15,NaN,NaN
4,3.0,0.0,"Petranec, Miss. Matilda",female,28.0,0.0,0.0,349245,7.8958,NaN,S,NaN,NaN,NaN

In [17]:
data.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [18]:
data_drop = data.drop(columns=['name', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],axis=1)

In [19]:
data_drop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048 entries, 0 to 1047
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1047 non-null   float64
 1   survived  1047 non-null   float64
 2   sex       1047 non-null   object
 3   age       836 non-null    float64
dtypes: float64(3), object(1)
memory usage: 32.9+ KB

In [22]:
data_drop.dropna(axis=0).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 836 entries, 1 to 1047
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    836 non-null    float64
 1   survived  836 non-null    float64
 2   sex       836 non-null    object
 3   age       836 non-null    float64
dtypes: float64(3), object(1)
memory usage: 32.7+ KB

## Resultados y Conclusiones

Hacer una descripcion de los resultados obtenidos y las conclusiones en los notebooks de analisis

## Propuestas e Ideas